body,h1,h2,h3,h4,h5.h6,p{
    margin: 0 auto;

}

.container {
    width: 85%;
    margin: 0 auto;
  }
  /*---header-area---*/
  .header-area {
	background: #281D24;
	position: sticky;
	top: 0;
}
  .logo {
    float: left;
    width: 30%;
    padding-top: 18px;
    font-size: 24px;
  }
  .logo a{
	  text-decoration: none;
	  color: ghostwhite;
  }
  .menu-bar {
	overflow: hidden;
	padding-left: 50px;
}
  .menu-bar ul {
    list-style: none;
  }
  .menu-bar ul li {
	display: inline-block;
	padding: 12px;
	margin-left: 20px;
}
  .menu-bar ul li a {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    color:ghostwhite ;
  }
  .menu-bar ul li a:hover {
	background: ghostwhite;
	color: #281D24;
	padding: 10px 20px;
}
 /*---body-area---*/
 .body-area {
	background-image: url(images/bg.jpg);
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    text-align: center;
}
.body-area.overlay {
	background: #1E1613A8;
	height: 600px;
}
.body-area h2 {
	padding-top: 176px;
	color: #fff;
	font-size: 40px;
}
.body-area p {
	padding-top: 36px;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
}
.body-button {
	margin-top: 68px;
}
.body-button a {
	padding: 15px 65px;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 20px;
	margin-top: 20px;
	color: #fff;
	border: 1px solid #fff;
}
.body-button a:hover {
	background: #30222a;
	border: 2px solid #181115;
}
 /*---branding----*/
.branding {
	padding: 70px 0;
  overflow: hidden;
  }

.branding-text {
  float: left;
  width: 40%;
}
.branding-text h2 {
  font-size: 40px;
  color: #5b5555;
}
.branding-text p {
  text-align: justify;
  font-size: 18px;
  padding-top: 15px;
}
.branding-image {
  float: right;
  box-shadow: 0 0 7px #30222a;
}
.branding-button a {
	background:#30222a;
	padding: 13px 44px;
	text-transform: capitalize;
	text-decoration: none;
    font-size: 20px;
	margin-top: 20px;
    color: #ecd6d6  ;
}
.branding-button {
	padding-top: 44px;
}
 /*---about-me----*/
 .about{
	padding: 50px 0;
	background:#30222a;
	overflow: hidden;
	text-align: center;
	position: relative;
	z-index: -1;

 }
 .title h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color: #ecd6d6;
}
hr {
  width: 78px;
}
.about p {
	color: #fff;
	padding-top: 10px;
}
.about-image {
	float: left;
	width: 259px;
	padding-top: 29px;
}
.about-image img {
	width: 100%;
}
.about-text {
	width: 50%;
	float: right;
	text-align: justify;
	padding-right: 98px;
	font-size: 18px;
	color: #ecd6d6;
	padding-top: 52px;
}
.social-icon {
	background: #ecd6d6b3;
	position: absolute;
	bottom: 65px;
	width: 258px;
}
.social-icon ul {
	padding: 0;
	list-style: none;
	text-align: center;
	margin: 9px;
}
.social-icon ul li {
	display: inline-block;
	background: #252525;
	border-radius: 50%;
	padding: 6px;
}
.social-icon ul li a {
	color: #fff;
	font-size: 20px;
}
.social-icon h3 {
	color: #30222a;
	font-size: 23px;
}
.social-icon ul li:hover {
	display: inline-block;
	background: #fff;
	border-radius: 50%;
	padding: 6px;
}
.social-icon ul li a:hover {
	color: #252525;
	font-size: 20px;
}
.cv-button {
    background: #ecd6d6;
    width: 188px;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 47px;
  }
  .cv-button a {
    color: #20191B;
    text-decoration: none;
	cursor: pointer;
  }
 /*---portfolio-area----*/
 .portfolio{
	 padding: 50px 0;
 }
 .portfolio-title{
	 padding-bottom: 26px;
 }
 .portfolio-title h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color: #30222a;
}
 .portfolio-images {
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 10px;
	grid-gap: 16px;
	margin-bottom: 7px;
}
.images img {
	width: 95%;
}
 /*---contact-area----*/
 .contact {
	background: #30222a;
	padding: 50px 0;
}
.contact-title{
	padding-bottom: 20px;
}
.contact-title h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
}
.input-area{
	text-align: center;
}
.input-wraper {
	float: left;
	width: 50%;
	margin-top: 20px;
}
.input-wraper input {
	width: 80%;
	background: none;
	border-radius: 5px;
	padding: 5px 10px 5px 32px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
}
  .input-wraper input:focus{
	  background: rgb(255, 255, 255);
	  color: #000;
	  border: none;
  }
  .message textarea {
	width: 90%;
	background: none;
	margin-top: 34px;
	border-radius: 10px;
	border: 1px solid #fff;
	height: 169px;
	color: #fff;
	font-size: 20px;
}
.message textarea:focus{
	background: rgb(255, 255, 255);
	color: #000;
	border: none;
}
.contact-button {
	text-align: center;
	width: 120px;
	padding: 10px 17px;
	margin: 3% 0 0 44%;
	border: 1px solid #fff;
	border-radius: 5px;
}
.contact-button a{
	text-decoration: none;
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
}
 /*---footer-area----*/
 footer {
	background: #F0E5E8;
	height: 70px;
	overflow: hidden;
}
.footr-left {
	float: left;
	padding: 28px 0 0 67px;
}
.footr-left p {
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #30222a;
}
.footr-right {
	float: right;
}
.social-media {
	margin-right: 55px;
}
.social-media ul {
	list-style: none;
}
.social-media ul li {
	display: inline-block;
}
.social-media ul a {
	font-size: 39px;
	color: #30222a;
	padding-right: 25px;
}